@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.cont1 {
  width: 45%;
}
.cont2 {
  width: 50%;
  background-color: #000842;
  border-radius: 1rem;
}
h3 {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 42px;
  top: 31px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 30px;

  color: #000000;
}
.login__phone {
  font-family: "Poppins";
  color: white;
  font-weight: 400;
  font-size: .8rem;
  float: right;
  margin-right: 1rem;
}
.login__image {
  margin: auto;
  width: 70%;
  margin-left: 18%;
}
h1 {
  margin-left: 10%;
  line-height: 60px;
  font-family: "Poppins";
  color: #ffffff;
}
.login__lorem {
  font-family: "Poppins";
  font-weight: 300;
  color: white;
  margin-left: 10%;
}
h2 {
  font-size: 1.5rem;
  font-family: "Poppins";
  font-weight: 600;
}
.login__form {
  top: 15%;
  position: relative;
  left: 15%;
}
.login__signin {
  bottom: 10%;
  position: absolute;
  width: 400px;
}
p {
  line-height: 0.5;
  font-size: 0.8rem;
}
.bold {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #0c21c1;
}
.login__input {
  border: none;
  height: 2rem;
  border-bottom: 2px #000842 solid;
  width: 70%;
  color: #000842;
  margin: 0 0 0.5rem 0;
}
::placeholder {
  color: #000842;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 1;
  position: absolute;
  bottom: 20%;
  top: 25%;
  font-family: 'FontAwesome','Poppins';
  vertical-align: middle;
}
.login__input-title {
  margin-top: 3rem;
  font-size: 0.7rem;
  color: #999999;
  line-height: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
[type="checkbox"] {
  vertical-align: middle;
}
.login__input-rempass {
  font-size: 0.7rem;
  color: #999999;
  line-height: 0;
}
.form-button {
  background: #0c21c1;
  box-shadow: 0px 4px 26px rgba(129, 123, 123, 0.25);
  border: none;
  border-radius: 32px;
  width: 70%;
  text-align: center;
  padding: 0.5rem;
  color: white;
  margin: 2rem 0 0 0;
}
.text-center {
  width: 70%;
  text-align: center;
}
.reg__input-title {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: #999999;
  line-height: 0;
}
 